<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Roleta Brasileira{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <header>
    <button id="toggle-dark-mode" class="btn-primary">Modo Noturno</button>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
